@model mascotas_perdidas_codefirstV3.Models.Mascota

@{
    ViewBag.Title = "Details";

}

<h2>Details</h2>

<div>


    <div class="detalles--mascota">

        <div class="campos--izquierda--derecha">

            <div class="campos-izquierda">

                <div class="campos">

                    <label>@Html.DisplayNameFor(model => model.Especie.tipo)</label>
                    <br />
                    <label>@Html.DisplayNameFor(model => model.raza)</label>
                    <br />
                    <label>@Html.DisplayNameFor(model => model.fecha_extravio)</label>
                    <br />
                    <label>@Html.DisplayNameFor(model => model.descripcion)</label>
                    <br />

                </div>



                <div class="campos-datos">


                    <label>@Html.DisplayFor(model => model.Especie.tipo)</label>
                    <br />
                    <label>@Html.DisplayFor(model => model.raza)</label>
                    <br />
                    <label>@Html.DisplayFor(model => model.fecha_extravio)</label>
                    <br />
                    <label class="observaciones">@Html.DisplayFor(model => model.descripcion)</label>


                </div>

            </div>
            <!--cierra campos-izquierda-->



            <div class="campos-derecha">

                <h1 class="detalles--mascota--nombre">@Html.DisplayFor(model => model.nombre)</h1>
                <br />
                <img src="" class="detalles--mascota--imagen" />

            </div>
            <!--cierra campos-derecha-->



        </div>
        <!--cierra campos-izquierda-derecha-->


        <h3 id="datos-de-contacto">DATOS DE CONTACTO</h3>

        <div class="datos-contacto-dueño">

            <div class="box_dueño_nombre">
                <p id="box_dueño-user">{userIcon}</p>
                <p id="box_dueño-nombre-1">DUEÑO</p>
                <p id="box_dueño-nombre">@Html.DisplayFor(model => model.nombre_dueño)</p>
            </div>


            <div class="box_dueño_telefono">
                <p id="box_dueño-user">{phoneIcon}</p>
                <p id="box_dueño-nombre-1">TELEFONO</p>
                <p id="box_dueño-nombre">@Html.DisplayFor(model => model.telefono_dueño)</p>
            </div>

            <div class="box_dueño_correo">
                <p id="box_dueño-user">{mailIcon}</p>
                <p id="box_dueño-nombre-1">CORREO</p>
                <p id="box_dueño-nombre">@Html.DisplayFor(model => model.correo_dueño)</p>
            </div>

        </div>
        <!--cierra datos-contacto-dueño-->

    </div>


    <!--
    <h4>Mascota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Especie.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especie.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.raza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.raza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_extravio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_extravio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lugar_extravio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lugar_extravio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_dueño)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_dueño)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo_dueño)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo_dueño)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono_dueño)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono_dueño)
        </dd>

    </dl>

        -->

    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
