@model IEnumerable<mascotas_perdidas_codefirstV3.Models.Mascota>

@{
    ViewBag.Title = "Mis_Mascotas";
   
}

<h2>Mis_Mascotas</h2>

<section className="cards-list cards-list-flex" id="cards-list">


    <div class="buscar--mascota">

        @foreach (var item in Model)
        {

            <div class="text-center mascota-list-item">

                <!--NOMBRE MASCOTA-->
                <h5 class="sub-header">@Html.DisplayFor(modelItem => item.nombre)</h5>
                <!--team member-->
                <div class="team-wrap">
                    <div class="member text-center">
                        <div class="wrap">
                            <!-- Info-->
                            <div class="info">
                                <!-- RAZA MASCOTA-->
                                <h3 class="name">@Html.DisplayFor(modelItem => item.raza)</h3>
                                <!--  Encontrado el día -->
                                <h4 class="position">Perdido el día @Html.DisplayFor(modelItem => item.fecha_extravio)</h4>
                            </div>
                            <!-- IMAGEN DESTACADA 1 -->
                            <img src="" alt="" class="img-circle img-responsive" />
                        </div>
                        <!-- /wrap -->
                        <div class="more">
                            <!-- OBSERVACIONES -->
                            <p>@Html.DisplayFor(modelItem => item.descripcion)</p>
                            <!-- DETALLES  -->
                            @Html.ActionLink("DETALLES", "Details", new { id = item.ID })
                        </div>
                        <!-- /more   -->

                    </div>
                    <!-- / member  -->
                </div>

            </div>

        }

    </div>


</section>
