@model IEnumerable<mascotas_perdidas_codefirstV3.Models.Mascota>

@{
    ViewBag.Title = "Mis_Mascotas";
    
}

<head>
    <link rel="stylesheet" href="~/Content/Styles.css">
</head>



<p>
    @Html.ActionLink("REGISTRAR NUEVA MASCOTA", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Especie.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.raza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_extravio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lugar_extravio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <!--
    <th>
        @Html.DisplayNameFor(model => model.Imagen)
    </th>-->
        <th>
            @Html.DisplayNameFor(model => model.nombre_dueño)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo_dueño)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono_dueño)
        </th>
        <th>
            Estado de la mascota
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Especie.tipo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.edad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.raza)
    </td>
    <td>
        @* @Html.DisplayFor(modelItem => item.fecha_extravio)*@
        @item.fecha_extravio.ToString("dd/MM/yyyy")
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.lugar_extravio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.descripcion)
    </td>
    <!-- <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>-->
    <td>
        @Html.DisplayFor(modelItem => item.nombre_dueño)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.correo_dueño)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.telefono_dueño)
    </td>
    <td>
        @if (item.encontrada == true)
        {<p>ENCONTRADA</p> }
        else
        { <p>NO ENCONTRADA</p>}

    </td>
    <td>
        @Html.ActionLink("EDITAR", "Edit", new { id = item.ID }) |
        @Html.ActionLink("DETALLES", "Details", new { id = item.ID }) |
        @Html.ActionLink("BORRAR", "Delete", new { id = item.ID })
    </td>
</tr>
    }

    </table>
